*{
    margin: 0;
    padding: 0;
}
.banner{
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    top: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 20px 15vw;
    /* text-align: center; */
    color: white;
    list-style: none;
    align-items: center;
    z-index: 1;
    position: fixed;
    /* transform: translateY(20px); */
}
header nav{
    display: flex;
    gap: 80px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
header img{
    width: 60px;
    height: 60px;
}
.menu-mobile{
    display:none;
}